//TODO GTB-工程实践: - css class命名不符合规范，不建议用_
.student_list {
  display: flex;
  flex-wrap: wrap;

  .student {
    width: 100px;
    height: 40px;
    margin: 8px;
    text-align: center;
    line-height: 40px;
    background-color: #eeeeee;
  }
}
